{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    WeatherTop2
  </h3>
  <p>
    WeatherTop2 web app using JavaScript
  </p>
   <p>
    WeatherTop Inc. produce a modular weather station called the WeatherTop 1000.
    <br>This low cost device takes a set of meteorological readings and displays these on a simple LCD
    display.
    <br>WeatherTop2 is a Web companion application for the device.
    <br>
</section>