{{> welcomemenu }}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to WeatherTopV2
  </h1> 
  <p>
    A small app to let you compose stations. This app will allow you to create, manage and share your stations. Simple enter the station details on the dashboard.
  <h4>    Please Signup or Login using the menu above</h4>
</section>